@import "colors.css";
@import "maincolors.css";
#backlight,
#battery,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#pulseaudio,
#clock,
#tags,
#language,
#memory,
#network,
#sndio,
#mode,
#window,
#workspaces,
#temperature,
#taskbar,
#workspaces,
#custom-treefetch-downloads,
#custom-archupdates,
#custom-axyl-downloads,
#custom-gpu-temp,
#custom-artix,
#custom-cpubars,
#custom-nettrf,
#custom-submap,
#custom-nowplaying {
  background: @background;
  color: @foreground;
  font-size: 13px;
  margin: 0px 0px 2px 0px;
}


* {
  font-family: "Zed Mono Nerd Font";
  font-size: 13px;
}

window#waybar {
  background-color: @background;
  color: @foreground;
}

.modules-left {
  background-color: @background;
  padding: 0px 0px 0px 0px;
}

.modules-right {
  background-color: @background;
  padding: 0px 5px 0px 0px;
}

#workspaces {
}

#workspaces button {
  font-size: 15px;
  padding: 0px 8px 0px 8px;
  min-width: 1px;
}

#workspaces button.empty {
  color: @foreground;
}

#workspaces button.visible {
  padding: 0px 8px 0px 8px;
  min-width: 1px;
  color: #ea6962;
}

#workspaces button.focused {
  padding: 0px 8px 0px 8px;
  padding: 0px 8px 0px 8px;
  background-color: @color1;
  color: @foreground;
}

#workspaces button.active {
  padding: 0px 8px 0px 8px;
  background-color: @color1;
  color: @forground;
}

#custom-nowplaying {
  color: @foreground;
  background-color: @background;
  padding: 0px 10px 0px 0px;
}

#window {
  color: @foreground;
  background-color: @background;
  padding: 0px 10px 0px 0px;
}

window#waybar.empty #window {
  background-color: transparent;
  color: transparent;
  padding: 0px 10px 0px 0px;
}

window#waybar.empty {
  background-color: @background;
  padding: 0px 10px 0px 0px;
}

#custom-separator {
  margin: 0em 0.3em 0em 0.3em;
  background: @background;
  color: @foreground;
  font-size: 15px;
  /*font-size: 1.1em;*/
}

/* Center Alined */
#custom-archupdates {
  margin: 0px 0px 2px 0px;
}

#custom-weather {
  margin: 0px 0px 2px 0px;
}

#custom-cpubars {
  margin: 0px 0px 4px 0px;
  color: @color1;
  background-color: @background;
}

#custom-cputemp {
  margin: 0px 0px 2px 0px;
}

#custom-linux-icon {
  font-size: 16px;
  margin: 0px 0px 2px 0px;
  color: @color1;
}

#custom-submap {
  padding-left: 7px;
  padding-right: 6.9px;
  margin: 0px 10px 2px 0px;
  background-color: @color1;
  color: @background;
}

#clock {
  margin: 0px 0px 2px 0px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: @bg1;
  color: @color1;
}

#custom-workspaces {
  margin: 0px 0px 2px 0px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: @color1;
  color: @background;
}
